{% extends 'base.html.twig' %}

{% block title %}Hello HeroController!{% endblock %}
{% set x = constant('App\\Entity\\Hero::HERO_STATS') %}
{% block content %}
    <div class="row">
    <div class="col-12 col-lg-6">
{#        TODO gear information#}
    </div>
    <div class="col-12 col-lg-6">
{#        TODO stats information#}
    </div>
    </div>
{% endblock %}
