body {
    background-color: lightgray;
    margin: 0px auto;
    width: 100%;
}
.form {
    margin: 0px auto;
}
.side_nav {
    li {
        list-style: none;
    }
    margin-top: 100px;
    width: 200px;
}

